body {
  padding-top: 56px;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
  stroke-width: 1;
}

.hero-text-bg {
  padding: 20px;
  backdrop-filter: blur(3px);
  background-color: rgba(25, 25, 25, 0.50);
  background-image: linear-gradient(rgba(20, 20, 20, 0.50), rgba(25, 25, 25, 0.50), rgba(20, 20, 20, 0.50));
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
  /*filter: drop-shadow(0px 0px 5px rgba(20, 20, 24, 0.5)) ;*/
}

.services-icon {
  font-size: 30px;
}

.services-header {
  margin-bottom: 5px;
}

.quote-icon {
  font-size: 40px;
  margin-bottom: 20px;
}

a {
  color: #325D88;
}

.hero-bg {
  color: #fff;
  background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pos-abs-bot {
  position: absolute;
  bottom: 0;
}